@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --navy: #0F172A;
  --gold: #C9A227;
  --gray: #4B5563;

  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}